h1{
    font-size: 30px;
    font-style: bold;
    text-align: center;
    color:grey;
}
p{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 18px;
    text-align: justify;
}
table{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}