<body>
    <h1>Cómo se propaga</h1>
    <ul>
        <li>En estos momentos no existe una vacuna para prevenir la enfermedad del coronavirus 2019 (COVID-19).​​​​​​​</li>
        <li>Entre personas que están en contacto cercano (a una distancia de hasta aproximadamente 6 pies).</li>
        <li>A través de gotitas respiratorias que se producen cuando una persona infectada tose, estornuda o habla.</li>
        <li>Estas gotitas pueden terminar en la boca o en la nariz de quienes se encuentran cerca o posiblemente ser inhaladas y llegar a los pulmones.</li>
        <li>Algunos estudios recientes sugieren que el COVID-19 puede propagarse a través de personas que no presentan síntomas.</li>
    </ul>
    <h1>Todas las personas deberian</h1>
    <ul>
        <li>Lávese las manos con frecuencia con agua y jabón por al menos 20 segundos, especialmente después de haber estado en un lugar público, o después de sonarse la nariz, toser o estornudar.</li>
        <li>Si no dispone de agua y jabón, <strong>use un desinfectante de manos que contenga al menos un 60&nbsp;% de alcohol</strong>. Cubra todas las superficies de las manos y frótelas hasta que sienta que se secaron.</li>
        <li><strong>Evite tocarse</strong> <strong> los ojos, la nariz y la boca</strong> sin haberse lavado las manos.</li>
        </ul>
    <h1>Evitar el contacto cercano</h1>
    <ul>
        <li><strong>Evite el contacto cercano con personas que están enfermas, incluso dentro de su casa.</strong> De ser posible, mantenga una distancia de 6 pies entre la persona enferma y otros miembros de su hogar.</li>
        <li><strong>Mantenga distancia de otras personas fuera de su hogar</strong>. 
        <li>Recuerde que algunas personas que no tienen síntomas pueden propagar el virus.</li>
        <li>Mantenga una distancia de al menos 6 pies (aproximadamente la longitud de  2 brazos) de otras personas.</li>
        <li>No se reúna en grupos.</li>
        <li>Manténgase alejado de lugares muy concurridos y congregaciones masivas.</li>
        <li>Mantener distancia con los demás es especialmente importante para las personas que tienen mayor riesgo de enfermarse gravemente.</li>
        <li>Usted podría propagar el COVID-19 incluso si no se siente enfermo.</li>
            <li>Todos deberían usar una cubierta de tela para la cara cuando salen de sus casas, por ejemplo, para ir a la tienda de comestibles o para buscar otros productos necesarios. <ul>
            <li>Las cubiertas de tela para la cara no se deberían usar en niños menores de 2 años ni en personas con problemas respiratorios o que estén inconscientes, incapacitadas o no sean capaces de quitárselas sin ayuda.</li>
            </ul>
            </li>
            <li>La cubierta de tela para la cara es para proteger a las demás personas en caso de que usted esté infectado.</li>
            <li>NO use una mascarilla destinada a los trabajadores de la salud.</li>
            <li>Siga manteniendo una distancia de aproximadamente 6 pies de las demás personas. La cubierta de tela para la cara no reemplaza las medidas de distanciamiento social.</li>
        </ul>

</body>
